/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #F5E8DD;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}





/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

ul.MuiMenuItem-root {
  color: #5C5470;

}

li.MuiMenuItem-root.Mui-selected:hover {
  background-color: #B3A492;
}

li.MuiMenuItem-root.Mui-selected {
  background-color: #6C5F5B;
  width: auto;
}


@media only screen and (min-width: 768px) {
  li.MuiMenuItem-root.Mui-selected {
    border-radius: 30px;
  }

  li.MuiMenuItem-root {
    color: #352F44;
    font-size: 100px;
    padding: 40px;

  }


  ul.MuiMultiSectionDigitalClockSection-root {
    width: 200px;
    text-align: center;
    font-size: "large";
    padding: 40px;
    overflow: hidden;
    margin-top: 40px;
  }

  div.MuiStack-root {
    box-shadow: 5px 10px 8px 10px #888888;
    padding-top: 0;
    border-radius: 30px;
  }
}

@media only screen and (max-width: 600px) {
  li.MuiMenuItem-root {
    color: #352F44;
    font-size: 25px;
    padding: 5px;

  }

  ul.MuiMultiSectionDigitalClockSection-root {
    width: 70px;
    text-align: center;
    font-size: "small";
    padding: 20px;
    margin-top: 10px;

    /* overflow: hidden; */

  }

  div.MuiStack-root {
    box-shadow: 3px 5px 4px 5px #888888;
    padding-top: 0;
    border-radius: 8px;
  }

  li.MuiMenuItem-root.Mui-selected {
    border-radius: 8px;
  }

  p.MuiTypography-root {
    font-size: "30px";
  }
}